# Ignore logs, temporary files, metadata files
*.log
*.tmp
*.swp
*.swo
*.DS_Store  # macOS metadata files
*.iml
__pycache__/
*.pyc
*.pyo
*.pyd
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
/build/
*.o
*.so
*.out
*.exe
*.a
*.lib

# Specific Files
/execution_log.txt
/FETCH_HEAD
/OpenSpaceFSW
/.vscode/
/config/
/OpenSpaceFSW.dSYM/